<div *appWrapper="title;visible:visible">
  <div *ngFor="let item of education" class="education">
    <div class="education__Date">{{convertDate(item.start)}} - {{convertDate(item.end)}}</div>
    <div class="education__Info">
      <div class="education__Name">{{item.name}}</div>
      <ng-container *ngIf="item.link">
        <div class="education__Splitter">-</div>
        <div class="education__Link">
          <a href={{item.link}} target="_blank">{{convertLink(item.link)}}</a>
        </div>
      </ng-container>
    </div>
    <div class="education__Description">{{item.description}}</div>
  </div>
</div>