@import '../../styles.less';
.footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: @padding @padding 0 @padding;
    @media @desktop {
        padding: 0 @padding;
    }
    &__Line {
        display: flex;
        height: 2px;
        flex: 1;
        background: @color0;
    }
    &__Copyright {
        display: flex;
        justify-content: space-around;
        line-height: 42px;
    }
    &__Print {
        width: 42px;
        height: 42px;
        text-align: center;
        color: @color0;
        cursor: pointer;
        &:hover {
            color: @color4;
            background: @color1;
        }
    }
}