<div *appWrapper="title;visible:visible">
    <div class="about">
        <div class="about__Photo"></div>
        <div class="about__Text">
            <p>Hello!</p>
            <p>
                I'm Yuriy Markov from {{service.getLocation()}}. I'm {{service.getAge()}} years old.
            </p>
            <ng-container *ngIf="service.phones.length">
                <p>Phone:
                    <ng-container *ngFor="let phone of service.phones;let last=last;">
                        <a href="{{phone.HREF}}">{{phone.value}}</a>{{!last?',':'.'}}
                    </ng-container>
                </p>
            </ng-container>
            <p>
            </p>
            <ng-container *ngIf="service.messengers.length">
                <p>Messengers:
                    <ng-container *ngFor="let messenger of service.messengers;let last=last;">
                        <a href="{{messenger.HREF}}">
                            <b>{{messenger.messenger}}</b> ({{messenger.value}})</a>{{!last?',':'.'}}
                    </ng-container>
                </p>
            </ng-container>
            <ng-container *ngIf="service.emails.length">
                <p>Email:
                    <ng-container *ngFor="let email of service.emails;let last=last;">
                        <a href="{{email.HREF}}">{{email.value}}</a>{{!last?',':'.'}}
                    </ng-container>
                </p>
            </ng-container>
            <ng-container *ngIf="service.web.length">
                <p>Around the web:
                    <ng-container *ngFor="let link of service.web;let last=last;">
                        <a href="{{link.HREF}}" target="_blank">{{link.value}}</a>{{!last?',':'.'}}
                    </ng-container>
                </p>
            </ng-container>
            <p>I'm looking for an interesting job as well as a new experience :)</p>
        </div>
    </div>
</div>