<div *appWrapper="title;folded:folded">
    <div class="about">
        <div class="about__Photo"></div>
        <div class="about__Text">
            <p>Hello!</p>
            <p>My name is Yuriy Markov.</p>
            <p>Age: {{age}}.</p>
            <p>Location: Perm, Russian Federation.</p>
            <p>Phone:
                <a href="tel:+79504696434">+79504696434</a>.</p>
            <p>Messengers:
                <a href="skype:y.i.markov?chat">Skype</a>,
                <a href="tg://resolve?domain=@yuriy_markov">Telegram</a>,
                <a href="whatsapp://send?phone=79504696434">WhatsApp</a>,
                <a href="viber://chat?number+79504696434">Viber</a>.
            </p>
            <p>Email:
                <a href="mailto:peacefullatom@gmail.com">peacefullatom@gmail.com</a>
            </p>
            <p>Around the web:
                <a href="https://github.com/peacefullatom" target="_blank">GitHub</a>,
                <a href="https://www.instagram.com/peacefullatom/" target="_blank">Instagram</a>,
                <a href="https://twitter.com/markov_yuriy" target="_blank">Twitter</a>,
                <a href="https://fb.me/yurij.markov.9" target="_blank">Facebook </a>.
            </p>
            <p>I'm looking for an interesting job as well as a new experience :)</p>
        </div>
    </div>
</div>