@import '../../styles.less';
@_width: 16px;
@_height: 9px;
@_mobile: 17px;
@_tablet: @_mobile+2;
@_desktop: @_tablet+2;
.about_Large {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media @tablet {
        .about_Large();
    }
    @media @desktop {
        .about_Large();
    }
    &__Photo {
        width: @_width * @_mobile;
        height: @_height * @_mobile;
        background: url('../img/avatar.jpg');
        background-size: contain;
        @media @tablet {
            width: @_width * @_tablet;
            height: @_height * @_tablet;
            margin-top: 22px;
            margin-right: @padding;
        }
        @media @desktop {
            width: @_width * @_desktop;
            height: @_height * @_desktop;
            margin-right: 24px;
        }
    }
    &__Text {
        flex: 1;
    }
}