@import '../../styles.less';
// mobile
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__Photo {
    width: 272px; // 16*17
    height: 153px; // 9*17
    background-color: red;
}

.about__Text {
    flex: 1;
}

// tablet
@media only screen and(min-width:600px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .about__Photo {
        width: 304px; // 16*19
        height: 171px; // 9*19
        margin-right: @padding;
    }
}

// desktop
@media only screen and (min-width: 768px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .about__Photo{
        width: 336px; // 16*21
        height: 189px; // 9*21
    }
}