<div *appWrapper="title;visible:visible">
    <div class="about">
        <div class="about__Photo"></div>
        <div class="about__Text">
            <p>Hello!</p>
            <p>
                I'm Yuriy Markov from {{service.getLocation()}}. I'm {{service.getAge()}} years old.
            </p>
            <ng-container *ngIf="phones.length">
                <p>Phone:
                    <ng-container *ngFor="let phone of phones;let last=last;">
                        <a href="{{phone.HREF}}">{{phone.value}}</a>{{!last?',':'.'}}
                    </ng-container>
                </p>
            </ng-container>
            <p>
            </p>
            <ng-container *ngIf="messengers.length">
                <p>Messengers:
                    <ng-container *ngFor="let messenger of messengers;let last=last;">
                        <a href="{{messenger.HREF}}">
                            <b>{{messenger.messenger}}</b> ({{messenger.value}})</a>{{!last?',':'.'}}
                    </ng-container>
                </p>
            </ng-container>
            <ng-container *ngIf="emails.length">
                <p>Email:
                    <ng-container *ngFor="let email of emails;let last=last;">
                        <a href="{{email.HREF}}">{{email.value}}</a>{{!last?',':'.'}}
                    </ng-container>
                </p>
            </ng-container>
            <ng-container *ngIf="web.length">
                <p>Around the web:
                    <ng-container *ngFor="let link of web;let last=last;">
                        <a href="{{link.HREF}}" target="_blank">{{link.value}}</a>{{!last?',':'.'}}
                    </ng-container>
                </p>
            </ng-container>
            <p>I'm looking for an interesting job as well as a new experience :)</p>
        </div>
    </div>
</div>