<div *appWrapper="title;visible:visible">
  <div *ngFor="let item of readings" class="readings">
    <div class="readings__Info">
      <div class="readings__Name">{{item.name}}</div>
      <ng-container *ngIf="item.link">
        <div class="readings__Splitter">-</div>
        <div class="readings__Link">
          <a href={{item.link}} target="_blank">{{removePathFromURL(item.link)}}</a>
        </div>
      </ng-container>
    </div>
    <div class="readings__Description">{{item.description}}</div>
  </div>
</div>