@import '../../styles.less';
@border: 8px;
.readings {
    position: relative;
    padding-bottom: @border;
    margin-bottom: 16px;
    border-bottom: 2px solid @color0;
    &:last-child {
        border-bottom: none;
    }
    &:first-child {
        margin-top: 16px;
    }
    &__Info {
        display: flex;
        flex-direction: row;
        padding-top: 22px;
    }
    &__Name {
        font-weight: bold;
    }
    &__Name,
    &__Link {
        font-size: 16px;
    }
    &__Description {
        padding-top: @border;
        font-size: 18px;
    }
}