@color0: #2E65A7;
@color1: #4C82C2;
@color2: #6F9FD8; // base color
@color3: #9ABEEA;
@color4: #CDE1F8;
@colorDefault: #FFFFFF;
@padding: 10px;
@defaultFontFamily: "segoe ui",
"lucida sans unicode",
"lucida grande",
lucida,
sans-serif;
@tablet: (min-width:768px);
@desktop: (min-width:1024px);
@ultra: (min-width:2048px);
// default styles
body {
    margin: 0;
    padding: 0;
    font-family: @defaultFontFamily;
    @media @desktop {
        margin-top: @padding;
    }
}

a {
    color: @color0;
    padding: 2px 3px;
    &:hover {
        color: @color4;
        background: @color1;
    }
}